.comic-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    background-color: #3b3b4b;
    border-radius: 20px;
    margin: 20px auto ;
    padding: 20px;
    .comic-title{
        color: #fff;
        margin: auto;
    }
}

.referencia{
    height: 10px;
}

.comic-page-container{
    display: flex;
    .logo-comic{
        width: 200px;
        margin: 20px;
    }
    .comic-page-title{
        margin: auto 0;
        color: #fff;
    }
}